<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>
